	<footer class="footer">
		<div class="nav-menu">
        <div class="container nav-menu__container">
          <div class="nav-menu__logo "><a href="/" class="flex-link"><i class="ic"></i>Photo albums</a></div>
          <div class="nav-menu__phone">
            <a href="tel:+7 (499) 893-7023" class="flex-link"><i></i>+7 (499) <span> 893-7023</span></a>
          </div>
          <div class="nav-menu__login">
            <a href="#" class="flex-link"><i class="ic"></i>Вход</a>
          </div>
          <div class="nav-menu__reg">
            <a href="#" class="flex-link"><i class="ic"></i>Регистрация</a>
          </div>
          <div class="nav-menu__catalog">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Каталог
                <i></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-menu__quest">
            <a href="#">Часто задаваемые вопросы </a>
          </div>
        </div>
      </div>
      <div class="footer__copy">
      	<p>2015©PHOTOALBUMS. Все права защищены.</p>
      	<p>Разработано в <a href="#">Garnet Software</a></p>
      </div>
	</footer>

    <script src="js/main.js"></script>

  </body>
</html>