<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoptics</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="header">
      <div class="nav-menu">
        <div class="container nav-menu__container">
          <div class="nav-menu__logo "><a href="/" class="flex-link"><i class="ic"></i>Photo albums</a></div>
          <div class="nav-menu__phone">
            <a href="tel:+7 (499) 893-7023" class="flex-link"><i></i>+7 (499) <span> 893-7023</span></a>
          </div>
          <div class="nav-menu__login">
            <a href=".login-popup" class="flex-link open-popup"><i class="ic"></i>Вход</a>
          </div>
          <div class="nav-menu__reg">
            <a href=".registration-popup" class="flex-link open-popup"><i class="ic"></i>Регистрация</a>
          </div>
          <div class="nav-menu__catalog">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Каталог
                <i></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/photobooks.html">Фотокниги</a></li>
                <li><a href="/polygraph.html">Полиграфия</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-menu__quest">
            <a href="/faq.html">Часто задаваемые вопросы </a>
          </div>
        </div>
      </div>
    </header>


    <!-- Все темплейты попапов -->
    
    
    <!-- форма входа -->
    <div class="mfp-hide popup-template order-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Заказать звонок</div>
      <div class="popup-template__form">
        <div class="input input--light">
          <label for="">Имя</label>
          <input type="text" placeholder="Введите Ваше имя">
        </div>
        <div class="input input--light">
          <label for="">Телефон</label>
          <input type="text" placeholder="Введите Ваш телефон">
        </div>
        <div class="popup-template__btns">
          <a href=".alert-popup" class="btn action1 open-popup">Заказать <i class="ic"></i></a>
        </div>
      </div>
    </div>


    <!-- форма входа -->
    <div class="mfp-hide popup-template login-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Вход</div>
      <div class="popup-template__form">
        <div class="input input--light">
          <label for="">Логин</label>
          <input type="text" placeholder="Введите Ваш Логин">
        </div>
        <div class="input input--light">
          <label for="">Пароль</label>
          <input type="password" placeholder="Введите Ваш пароль">
        </div>
        <div class="popup-template__btns">
          <a href=".alert-popup" class="btn action1 open-popup">Войти <i class="ic"></i></a>
          <a href=".forgot-popup" class="btn action2 open-popup">Восстановление пароля <i class="ic"></i></a>
        </div>
      </div>
    </div>


    <!-- неверный пароль -->
    <div class="mfp-hide popup-template alert-popup">
      <i class="popup-template__close mfp-close"></i>
      
      <div class="popup-template__title">Вход</div>
      <div class="popup-template__form">
        <div class="popup-template__alert">
          Вы указали неверный логин или пароль.
          Повторите попытку либо восстановите пароль»
        </div>
        <div class="input input--light">
          <label for="">Логин</label>
          <input type="text" placeholder="Введите Ваш Логин">
        </div>
        <div class="input input--light">
          <label for="">Пароль</label>
          <input type="text" placeholder="Введите Ваш пароль">
        </div>
        <div class="popup-template__btns">
          <a href="#" class="btn action1">Войти <i class="ic"></i></a>
          <a href=".forgot-popup" class="btn action2 open-popup">Восстановление пароля <i class="ic"></i></a>
        </div>
      </div>
    </div>    

    <!-- форма востановления -->
    <div class="mfp-hide popup-template forgot-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Восстановление пароля</div>
      <div class="popup-template__info">
        Пожалуйста, введите адрес электронной почты, указанный
        в параметрах Вашей учётной записи. Вам будет выслан
        специальный проверочный код.
      </div>
      <div class="popup-template__form">
        <div class="input input--light">
          <label for="">Email</label>
          <input type="text" placeholder="Введите Ваш e-mail">
        </div>
        <div class="popup-template__capcha">
          <img src="/img/capcha.png" alt="capcha">
        </div>
        <div class="popup-template__btns">
          <a href=".success-popup" class="btn action1 open-popup">Отправить <i class="ic"></i></a>
        </div>
      </div>
    </div>
    
    <!-- форма при успехе -->
    <div class="mfp-hide popup-template popup-template--yellow success-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Готово!</div>
      <div class="popup-template__info">
        Пожалуйста, проверте Вашу почту.
        Вам выслан специальный проверочный код.
      </div>
      <div class="popup-template__btns">
          <a href="/photobooks.html" class="btn action3">Перейти в каталог <i class="ic"></i></a>
        </div>
    </div>

    <!-- форма при успехе -->
    <div class="mfp-hide popup-template popup-template--yellow success-popup2">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Готово!</div>
      <div class="popup-template__info">
        Ваш заказ создан! <br> За ходом его выполнения Вы можете следить в личном кабинете.
      </div>
      <div class="popup-template__btns">
          <a href="/task-zakazchik.html" class="btn action3">Просмотреть заказ <i class="ic"></i></a>
        </div>
    </div>


    <!-- форма регистрации -->
    <div class="mfp-hide popup-template registration-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Регистрация</div>
      <div class="popup-template__form">
        <div class="input input--light">
          <label for="">Логин</label>
          <input type="text" placeholder="Введите Ваш Логин">
        </div>
        <div class="input input--light">
          <label for="">Email</label>
          <input type="text" placeholder="Введите Ваш e-mail">
        </div>
        <div class="input input--light">
          <label for="">Телефон</label>
          <input type="text" placeholder="Введите Ваш номер телефона">
        </div>
        <div class="input input--light">
          <label for="">Город</label>
          <div>
            <select name="" id="">
              <option value="">Одесса</option>
              <option value="">Киев</option>
            </select>
            <i class="ic"></i>
          </div>
         
        </div>
        <div class="input input--light">
          <label for="">Телефон</label>
          <input type="text" placeholder="Введите Ваш номер телефона">
        </div>
        <div class="input input--light">
          <label for="">Придумайте пароль</label>
          <input type="password" placeholder="Не менее 4-х символов">
        </div>
        <div class="input input--light">
          <label for="">Подтвердите пароль</label>
          <input type="password" placeholder="">
        </div>
        <div class="popup-template__btns">
          <a href=".edit-popup" class="btn action1 open-popup">Регистрация <i class="ic"></i></a>

        </div>
      </div>
    </div>
    

    <!-- форма редактирования -->
    <div class="mfp-hide popup-template edit-popup">
      <i class="popup-template__close mfp-close"></i>
      <div class="popup-template__title">Данные заказчика</div>
      <div class="popup-template__form">
        <div class="input input--light">
          <label for="">Логин</label>
          <input type="text" placeholder="Введите Ваш Логин">
        </div>
        <div class="input input--light">
          <label for="">Email</label>
          <input type="text" placeholder="Введите Ваш e-mail">
        </div>
        <div class="input input--light">
          <label for="">Телефон</label>
          <input type="text" placeholder="Введите Ваш номер телефона">
        </div>
        <div class="input input--light">
          <label for="">Город</label>
          <div>
            <select name="" id="">
              <option value="">Одесса</option>
              <option value="">Киев</option>
            </select>
            <i class="ic"></i>
          </div>
         
        </div>
        <div class="input input--light">
          <label for="">Телефон</label>
          <input type="text" placeholder="Введите Ваш номер телефона">
        </div>
        <div class="input input--light">
          <label for="">Пароль</label>
          <input type="password" placeholder="Не менее 4-х символов">
          <a href="#" class="change-pass"><i class="ic"></i>изменить пароль</a>
        </div>
        <div style="display: none;">
          <div class="input input--light">
            <label for="">Придумайте пароль</label>
            <input type="password" placeholder="Не менее 4-х символов">
          </div>
          <div class="input input--light">
            <label for="">Подтвердите пароль</label>
            <input type="password" placeholder="">
          </div>
        </div>
        <div class="popup-template__btns">
          <a href=".alert-popup" class="btn action1 open-popup">Регистрация <i class="ic"></i></a>

        </div>
      </div>
    </div>
