/*
* Third Party
*/

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/dropzone/dist/dropzone.css";


/*
* Custom
*/

@import "partials/variable";
@import "partials/sprite";
@import "partials/fonts";
@import "partials/owl.carousel.scss";
@import "partials/magnific-popup.scss";


*{
	outline: none !important;
}

body{
	font-family: "Roboto";
	letter-spacing: .7px;
}

.btn-skin{
	color: 19px;
	font-family: "Roboto-m";
	font-size: 19px;
	color: #303030;
	padding: 19px 73px;
	border: 3px solid $brand;
	background-color: $brand;
	border-radius: 7px;
	box-shadow: 0 1px 16px rgba(11, 13, 13, 0.22);
	&:hover,
	&:focus,
	&:active{
		color: #303030;
	}
}

.check{
	position: relative;
	&--light{
		label{
			font-weight: normal;
			color: #535353;
			font-size: 15px !important;
			margin-bottom: 0px;
		}
	}
	label{
		color: #535353;
		font-size: 14px;
		display: inline-block;
		padding-left: 46px;
		position: relative;
		cursor: pointer;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -17px;
			width: 34px;
			height: 34px;
			background-color: #dce7e6;
			border-radius: 7px;
			box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.23);
		}
		&:after{
			content: "";
			position: absolute;
			left: 9px;
			top: 4px;
			@include sprite($check);
			opacity: 0;
		}
	}
	input{
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		opacity: 0;
		&:checked + label:after{
			opacity: 1;
		}
	}
}

.flex-link{
	display: flex;
	align-items: center;
}

@import "partials/media";

.title{
	text-align: center;
	margin-bottom: 45px;
	h2{
		margin: 0px;
		color: #303030;
		font-family: "Roboto-bl";
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		font-size: 28px;
		letter-spacing: 3px;
		&:after{
			content:"";
			position: absolute;
			left: 50%;
			margin-left: -10px;
			height: 3px;
			width: 20px;
			background-color: #303030;
			top: calc(100% + 7px);
		}
	}
	&--white{
		h2{
			color: #fff;
			&:after{
				background-color: $brand;
			}
		}
	}
}

.nav-menu{
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	&__container{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__logo{
		margin-right: 40px;
		a{
			color: #303030;
			font-family: "Roboto-b";
			font-size: 18px;
			line-height: 13px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			i{
				@include sprite($logo);
				margin-right: 14px;
			}
		}
	}
	&__phone{
		margin-right: 	52px;
		a{
			border: 3px solid $brand;
			border-radius: 7px;
			font-size: 14px;
			color: #303030;
			padding: 6px 12px;
			&:hover{
				background-color: $brand;
			}
			span{
				font-family: "Roboto-b";
			}
			i{
				@include sprite($phone);
				margin-right: 7px;
			}
		}
	}
	&__login{
		a{
			height: 57px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #2f2f2f;
			font-size: 14px;
			padding: 5px 19px;
			&:hover{
				background-color: $brand;
			}
			i{
				@include sprite($login-icon);
				margin-right: 8px;
			}
		}
	}
	&__reg{
		@extend .nav-menu__login;
		margin-right: 73px;
		a{
			i{
				@include sprite($registration-icon);
				margin-right: 8px;
			}
		}
	}
	&__catalog{
		margin-right: 19px;
		button{
			background-color: #ecf0f0;
			border-radius: 0px;
			border: none;
			color: #303030;
			font-size: 	16px;
			height: 57px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 19px;
			font-family: "Roboto-b";
			i{
				@include sprite($arrow);
				margin-left: 6px;
			}
		}
	}
	&__quest{
		a{
			font-size: 16px;
			color: #303030;
			font-weight: bold;
			&:hover{
				color: $brand;
			}
		}
	}
}

.main-section{
	min-height: 571px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__title{
		margin-bottom: 3px;
		h1{
			margin: 0px;
			font-family: "Roboto-bl";
			font-size: 28px;
			letter-spacing: 5px;
			padding: 23px 38px;
			background-color: #fff;
		}
	}
	&__subtitle{
		color: #fff;
	    font-size: 28px;
	    font-family: "Roboto-b";
	    letter-spacing: 3px;
	    margin-bottom: 35px;
	}
	&__btn{
		border: 3px solid $brand;
		border-radius: 7px;
		padding: 15px 5px;
		width: 206px;
		text-align: center;
		font-size: 17px;
		color: #fff;
		font-family: "Roboto-b";
		margin-bottom: 22px;
		&:hover{
			color: #303030;
			background-color: $brand;
		}
	}
}

.how-work,
.benefits{
	background-color: $brand2;
	background-image: url("/img/bg-work.png");
	padding: 60px 0 65px 0;
	&__items{
		padding: 0px 40px;
		display: flex;
		flex: 1 0 auto;
		justify-content: space-between;
		text-align: center;
	}
	&__item{
		max-width: 161px;
		&:not(:last-child){
			.how-work__item-img{
				&:before{
					position: absolute;
					content: "";
					left: calc(100% + 8px);
					top: 50%;
					margin-top: -1px;
					width: 127px;
					border-bottom: 2px dotted #949595;
				}
				&:after{
					content: "";
					position: absolute;
					left: calc(100% + 135px);
					top: 50%;
					margin-top: -3px;
					@include sprite($arrow2);
					z-index: 9;
				}
			}
		}
	}
	&__item-img{
		width: 82px;
		height: 82px;
		border-radius: 50%;
		background-color: $brand;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		margin-bottom: 20px;
		position: relative;

		&.finger{
			span{
				@include sprite($finger);
			}
		}
		&.clock{
			span{
				@include sprite($clock);
			}
		}
		&.card{
			span{
				@include sprite($credit);
			}
		}
		&.eye{
			span{
				@include sprite($eye);
			}
		}
		&.smile{
			span{
				@include sprite($smile);
			}
		}
		&.shield{
			span{
				@include sprite($shield);
			}
		}
		&.car{
			span{
				@include sprite($car);
			}
		}
		&.mans{
			span{
				@include sprite($mans);
			}
		}

	}
	&__item-name{
		font-size: 14px;
		color: #2f2f2f;
	}
}

.catalog{
	padding: 66px 0px;
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		width: calc(50% - 15px);
		text-align: center;
	}
	&__item-inner{
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
		border-radius: 7px;
	}
	&__item-img{
		max-height: 270px;
		border-radius: 7px 7px 0 0;
		overflow: hidden;

		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		img{
			width: 100%;
			height: auto;
			transition: all .3s ease-out;
		}
	}
	&__item-info{
		padding: 23px 28px;
	}
	&__item-name{
		font-size: 20px;
		color: #303030;
		font-family: "Roboto-b";
		position: relative;
		margin-bottom: 19px;
		&:after{
			content:"";
			position: absolute;
			left: 50%;
			margin-left: -10px;
			height: 3px;
			width: 20px;
			background-color: #303030;
			top: calc(100% + 6px);
		}
	}
	&__item-text{
		p{
			margin-bottom: 15px;
		}
	}
	&__item-link{
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
		border: 3px solid #fff;
		border-radius: 7px;
		background-color: #fff;
		margin-top: 10px;
		padding: 16px 23px;
		font-size: 15px;
		color: #4f4f4f;
		font-family: "Roboto-b";
		display: inline-flex;
		&:hover{
			color: #4f4f4f;
			background-color: $brand;
			border-color: $brand;
		}
		i{
			@include sprite($arrow3);
			margin-left: 13px;
		}
	}
}

.about-us{
	padding: 66px 0px;
	&__items{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item{
		width: calc(33.333% - 4px);
		border: 3px solid white;
		padding: 17px 23px;
		border-radius: 7px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, 0.19);
		margin-bottom: 8px;
	}
	&__item-author{
		color: #303030;
		font-size: 18px;
		font-family: "Roboto-b";
	}
	&__item-city{
		color: #56636a;
		font-size: 15px;
		margin-bottom: 15px;
	}
	&__item-text{
		font-size: 15px;
		color: #55585a;
		margin-bottom: 15px;
	}
	&__item-info{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item-date{
		color: #868787;
		font-size: 13px;
	}
	&__item-show{
		background-color: $brand;
		border: 3px solid $brand;
		border-radius: 7px;
		box-shadow: 0 1px 16px rgba(11, 13, 13, 0.22);
		padding: 11px 23px;
		color: #303030;
		font-size: 15px;
		&:hover{
			background-color: $brand - 20;
			color: #303030;
			border-color: $brand - 20;
		}
	}
}

.custom-section{
	min-height: 468px;
	background-color: transparent;
	padding: 66px 0px;
	&__container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text{
		border: 3px solid #ffd740;
		border-radius: 7px;
		padding: 37px 31px;
		font-size: 15px;
		color: #fff;
		text-align: center;
		margin-bottom: 37px;
	}
	&__btn{
		border: 3px solid white;
		border-radius: 7px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.81);
		background-color: #fff;
		padding: 19px 33px;
		color: rgba(48, 48, 48, 0.92);
		font-size: 17px;
		font-family: "Roboto-b";
		&:hover{
			background-color: $brand - 20;
			color: rgba(48, 48, 48, 0.92);
			border-color: $brand - 20;
		}
	}
}

.footer{
	&__copy{
		text-align: center;
		padding: 35px 0px;
		background-color: $brand2;
		background-image: url("/img/bg-work.png");
		color: #303030;
		a{
			color: #303030;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.photogallery{
	padding: 66px 0px;
	background-color: $brand2;
	background-image: url(/img/bg-work.png);
	&__inner{
		direction: flex;
		flex: 1 0 auto;
	}
	&__btns{
		display: flex;
		justify-content: center;
		padding-left: 0px;
		list-style-type: none;
		margin-bottom: 40px;
		li{
			margin: 0px 7px;
			&.active{
				a{
					border-color: $brand;
					background-color: $brand;
				}
			}
			a{
				background-color: #e9f1f0;
				border-color: #e9f1f0;
				width: 255px;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
				&:hover{
					border-color: $brand;
					background-color: $brand;
				}
			}
		}
	}
	&__filters{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		ul{
			padding-left: 0;
			text-align: center;
			list-style-type: none;
			position: relative;
			display: flex;
			margin-bottom: 36px;
			&:before{
				content: "";
				border: 3px solid #d8e2e1;
				border-radius: 7px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				z-index: 0;
			}
			li{
				display: inline-block;
				&.active{
					a{
						background-color: $brand;
						color: #303030;
					}
				}
				a{
					border-radius: 7px;
					color: #727272;
					font-family: "Roboto-m";
					font-size: 16px;
					line-height: 16px;
					width: 180px;
					text-align: ceter;
					height: 64px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 3px solid transparent;
					position: relative;
					z-index: 10;
					&:hover{
						border: 3px solid $brand;
					}
					span{
						display: block;
					}
				}
			}
		}
		.checkboxes{
			display: flex;
			& > div{
				margin: 0px 15px;
			}
		}
	}
}

.gallery-items{
	background-color: #fff;
	padding: 40px 0px;
	.tab-pane{
		width: 100%;
		flex: 1 0 auto;
	}
	&__item{
		text-align: center;
		padding: 10px;
		background-color: white;
		border-radius: 7px;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
		transition: all .2s ease;
		margin-bottom: 16px;
		&:hover{
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.23);
			transform: translateY(-4px);
		}
	}
	&__item-img{
		img{
			width: 100%;
			height: auto;
		}
	}
	&__item-wrap{
		padding-left: 8px;
		padding-right: 8px;
		float: left;
		width: 25%;
	}
	&__item-info{
		padding: 15px 0px 5px 0px;
		.name{
			font-size: 16px;
			color: #55585a;
		}
		.price{
			color: #55585a;
			font-size: 18px;
			font-family: "Roboto-bl";
			margin-top: 5px;
		}
	}
}

.faq{
	padding: 66px 0px;
	background-color: $brand2;
	&__item{
		margin-bottom: 25px;
		h3{
			color: #303030;
			font-size: 15px;
			font-family: "Roboto-b";
			margin-top: 0;
			margin-bottom: 17px;
		}
	}
	&__box{
		font-size: 15px;
		color: #55585a;
		padding: 24px 34px;
		background-color: white;
		border: 3px solid white;
		border-radius: 7px;
		box-shadow: 0 1px 9px rgba(11, 13, 13, 0.11);
		position: relative;
		&:after{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 16px;
			border: 13px solid transparent;
			border-bottom-color: #fff;

		}
	}

}

.layout{
	padding: 66px 0px;
	background-color: $brand2;
	background-image: url("/img/bg-work.png");
	background-repeat: no-repeat;
	background-position: center top;
	&__info{
		width: 100%;
		margin-bottom: 33px;
	}
	&__content{
		background-color: #f7fafa;
		padding: 17px 22px;
		position: relative;
		z-index: 10;
		border-radius: 0px 7px 7px 7px;
	}
	&__tabs{
		display: flex;
		padding-left: 0px;
		list-style-type: none;
		margin-bottom: 0px;
		li{
			margin-right: 6px;
			&.active{
				a{
					background-color: #f7fafa;
					box-shadow: 0 1px 16px rgba(67, 71, 71, 0.29);
					img{
						opacity: 1;
					}
				}
			}
			a{
				background-color: #e9f1f0;
				border-radius: 7px 7px 0 0 ;
				box-shadow: 0 1px 13px rgba(63, 79, 77, 0.17);
				width: 75px;
				height: 85px;
				padding-bottom: 14px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				flex-direction: column;
				color: #303030;
				font-size: 15px;
				span{
					margin-top: 4px;
				}
				img{
					opacity: .5;
				}
			}
		}
	}
}

.gallery{
	&__info{
		display: flex;
		flex: 1 1 0%;
	}
	&__img{
		width: 155px;
		height: 112px;
		background-color: white;
		border-radius: 7px;
		border: 6px solid #fff;
		overflow: auto;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-right: 22px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__descr{
		flex: 1 1 0%;
		h4{
			font-size: 17px;
			color: #303030;
			font-family: "Roboto-b";
			margin-top: 0px;
			margin-bottom: 11px;
		}
		p{
			font-size: 14px;
			color: #545454;
		}
	}
	&__carousel{
		padding: 0px 26px;
		position: relative;
		.owl-stage-outer{
			padding-top: 21px;
			padding-bottom: 10px;
		}
		.owl-controls{
			position: absolute;
			top: 50%;
			transform: translateY(-23%);
			left: 0;
			width: 100%;
			pointer-events: none;
		}
		.owl-nav{
			display: flex;
			pointer-events: none;
			width: 100%;
			justify-content: space-between;
			.owl-prev{
				opacity: .5;
				@include sprite($arrow4);
				pointer-events: auto;
				&:hover{
					opacity: 1;
				}
			}
			.owl-next{
				opacity: .5;
				@include sprite($arrow4);
				transform: scale(-1, 1);
				pointer-events: auto;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
	&__item{
		overflow: hidden;
		border-radius: 7px;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
		border: 4px solid #fff;
		height: 67px;
		transition: all .2s ease-in;
		&:hover{
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.36);
			transform: translateY(-6px);
		}
	}
}

.task-status{
	&__isready{
		margin-bottom: 22px;
	}
	&__num{
		margin-bottom: 14px;
		p{
			margin-bottom: 4px;
			font-size: 15px;
			color: #535353;
		}
		& > div{
			display: flex;
			align-items: center;
		}
	}
	&__price{
		margin-bottom: 36px;
		font-family: "Roboto-b";
		span{
			color: #535353;
			font-size: 17px;
			margin-right: 23px;
		}
		.price{
			color: #303030;
			font-size: 19px;
		}
	}
	&__send{
		button{
			width: 244px;
			height: 69px;
			background-color: #303030;
			border: 3px solid #303030;
			border-radius: 7px;
			box-shadow: 0 1px 16px rgba(11, 13, 13, 0.22);
			color: $brand;
			text-align: center;
			font-size: 19px;
			font-family: "Roboto-m";
			justify-content: center;
			&:hover{
				i{
					transform: translateX(5px);
				}
			}
			i{
				@include sprite($arrow5);
				margin-left: 10px;
				transition: all .2s ease-in;
			}
		}
	}
}
.counter{
	position: relative;
	border-radius: 7px;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	.btn-plus,
	.btn-minus{
		width: 48px;
		height: 100%;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.btn-minus{
		left: 0;
		&:hover{
			span{
				@include sprite($minus-h);
			}
		}
		span{
			@include sprite($minus);
		}
	}
	.btn-plus{
		right: 0;
		&:hover{
			span{
				@include sprite($plus-h);
			}
		}
		span{
			@include sprite($plus);
		}
	}
	input{
		width: 157px;
		height: 48px;
		background-color: #dee8e7;
		border-radius: 7px;
		box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.11);
		border: none;
		text-align: center;
		padding: 0px 48px;
		font-size: 15px;
		font-family: "Roboto-b";
		&:focus{
			outline: none;
		}
	}
}

.accordion{
	.panel{
		border: none;
	}
	.panel-body{
		padding: 0px;
	}
	.panel-group{
		margin-bottom: 0px;
	}
	.panel-heading{
		background-color: #f7fafa;
		box-shadow: 0 2px 8px rgba(196, 206, 205, 0.68);
		border: none;
		font-size: 17px;
		font-family: "Roboto-bl";
		color: #303030;
		padding: 30px 15px;
		letter-spacing: 2px;
		.panel-title{
			text-transform: uppercase;
		}
		a{
			justify-content: center;
			&:hover{
				color: $brand;
			}
		}
		.circle{
			width: 22px;
			height: 22px;
			background-color: #303030;
			box-shadow: 0 1px 4px rgba(48, 48, 48, 0.58);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 9px;
			i{
				@include sprite($arrow6);
			}
		}
	}	
}


.input{
	& > div{
		position: relative;
	}
	margin-bottom: 18px;
	position: relative;
	label{
		font-size: 15px;
		color: #535353;
		margin-bottom: 3px;
		font-weight: normal;
	}
	input,
	textarea{
		padding: 3px 24px;
		width: 100%;
		height: 55px;
		background-color: #d7e3e2;
		border-radius: 7px;
		border: 1px solid transparent;
		box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.12);
		&:focus{
			outline: none;
			border: 1px solid #111;
		}
	}
	select{
		padding: 3px 24px;
		height: 55px;
		width: 100%;
		background-color: white;
		border-radius: 7px;
		box-shadow: 0 2px 9px rgba(11, 13, 13, 0.09);
		appearance: none;
		border: 1px solid transparent;
		& + i{
			position: absolute;
			right: 23px;
			top: 24px;
			@include sprite($arrow7);
		}
	}
	textarea{
		padding-top: 14px;
		height: 90px;
		resize: none;
	}

	&--light{
		input,
		textarea{
			background-color: #eef5f5;
		}
	}
}


.form-title{
	color: #303030;
	font-size: 17px;
	text-transform: uppercase;
	margin-top: 0px;
	font-family: "Roboto-b";
}


.form-btn{
	border-radius: 7px;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.22);
	background-color: $brand;
	padding: 13px 43px;
	color: #303030;
	font-size: 17px;
	font-family: "Roboto-b";
	border: none;
	&:hover{
		background-color: $brand - 20;
	}
	&--black{
		background-color: #303030;
		color: $brand;
		&:hover{
			background-color: #303030 - 20;
		}
	}
}

.reg-login{
	padding: 70px 0px;
	background-color: #dee8e7;
	&__container{
		flex: 1 1 0%;
		justify-content: space-between;
	}
	&__left{
		width: 50%;
		padding-right: 33px;
	}
	&__right{
		width: 50%;
		padding-left: 33px;
	}
	&__submit{
		margin-right: 17px;
		i{
			@include sprite($check2);
			margin-left: 8px;
		}
	}
	&__submit2{
		i{
			@include sprite($check3);
			margin-left: 8px;
		}
	}
	&__bottom{
		a{
			color: #303030;
			font-size: 17px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.skin-add{
	border-radius: 7px;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.22);
	background-color: $brand;
	font-size: 17px;
	color: #303030;
	font-family: "Roboto-b";
	padding: 16px 40px;
}

.order{
	padding: 54px 0px;
	&__form{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	&__submit{
		button{
			width: 240.6px;
			height: 66px;
			i{
				@include sprite($check3);
				margin-left: 6px;
			}
		}
	}
	&__add{
		width: 100%;
	}
	&__scool{
		width: 333px;
		margin-right: 20px;
	}
	&__class{
		width: 239px;
	}
	&__comment{
		width: 100%;
		margin-bottom: 65px;
	}
	&__group{
		margin-bottom: 35px;
		h4{
			font-family: "Roboto-b";
			font-size: 17px;
			color: #303030;
			line-height: 20px;
		}
	}
	&__add-btn{
		display: inline-flex;
		align-items: center;

		i{
			@include sprite($add);
			margin-left: 7px;
		}
		&:hover{
			background-color: $brand - 20;
			color: #303030;
		}
	}
	&__previews{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0px;
		margin-top: 24px;
	}
	&__prev{
		margin-right: 25px;
		margin-bottom: 14px;
	}
	&__prev-img{
		width: 145px;
		height: 144px;
		background-position: center top;
		background-size: cover;
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
		margin-bottom: 8px;
		position: relative;
	}
	&__prev-name,
	&__prev-size{
		font-size: 12px;
		color: #768282;
	}
	&__prev-close{
		position: absolute;
		top: 6px;
		right: 6px;
		@include sprite($delete);
		transition: none;
		&:hover{
			@include sprite($delete-h);
		}
	}
	&__prev-title{
		font-size: 15px;
		color: #535353;
		font-family: "Roboto-b";
		margin-bottom: 1px;
	}
}

.upload{
	position: relative;
	input{
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		opacity: 0;
	}
	label{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 145px;
		height: 41px;
		background-color: $brand;
		border-radius: 7px;
		box-shadow: 0 1px 16px rgba(11, 13, 13, 0.22);
		color: #303030;
		font-size: 15px;
		font-family: "Roboto-b";
		cursor: pointer;
		transition: all .2s ease-in;
		i{
			margin-left: 6px;
			@include sprite($upload);
		}
		&:hover{
			background-color: $brand - 20;
		}
	}
}

.drope-popup{
	max-width: 1140px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	.mfp-close{
		bottom: calc(100% + -38px);
		top: auto;
		font-size: 45px;
		color: #fff !important;
		width: auto;
		height: auto;
	}
	&__inner{
		position: relative;
	}
	&__title{
		font-size: 19px;
		color: white;
		font-family: "Roboto-b";
		text-transform: uppercase;
		margin-bottom: 8px;

	}
	&__add{
		position: absolute;
		top: 36px;
		width: 100%;
		left: 0;
		a{
			display: inline-flex;
			align-items: center;

			i{
				@include sprite($add);
				margin-left: 7px;
			}
			&:hover,
			&:active,
			&:focus{
				background-color: $brand - 20;
				color: #303030;
			}
		}
	}
	.dropzone{
		background-color: white;
		border: 3px solid white;
		border-radius: 7px;
		box-shadow: 0 1px 16px rgba(11, 13, 13, 0.12);
		padding: 117px 14px;
		min-height: 473px;
		background-image: url("/img/drop.png");
		background-position: center 118px;
		background-repeat: no-repeat;
		text-align: left;
		&.dz-started{
			background-image: none;
			& + .drope-popup__btns{
				display: flex;
			}
		}
		.dz-details,
		.dz-progress{
			display: none;
		}
		.dz-image-preview{
			margin: 0px;
			padding: 0px 9px;
			margin-bottom: 18px;
		}
		.dz-message{
			color: #b8c0be;
			font-size: 17px;
			position: absolute;
			bottom: 32px;
			left: 0;
			text-align: center;
			width: 100%;
			margin-bottom: 0px;
		}
		.dz-remove{
			position: absolute;
			top: 4px;
			right: 13px;
			@include sprite($delete2);
			font-size: 0;
			z-index: 999;
			transition: none;
			&:hover{
				@include sprite($delete2-h);
			}
		}
		.dz-details{
			display: none;
		}
	}
	&__btns{
		display: flex;
		bottom: 36px;
		left: 0;
		width: 100%;
		position: absolute;
		justify-content: center;
		display: none;
		.upl{
			width: 244px;
			height: 57px;
			background-color: #303030;
			border-radius: 7px;
			box-shadow: 0 1px 16px rgba(0, 0, 0, 0.22);
			display: flex;
			justify-content: center;
			margin: 0px 6px;
			align-items: center;
			font-size: 17px;
			font-family: "Roboto-b";
			color: $brand;
			&:hover{
				background-color: #303030 - 20;
			}
			i{
				margin-left: 8px;
				@include sprite($upload2);
			}
		}
		.ready{
			width: 199px;
			height: 57px;
			background-color: #689f38;
			border-radius: 7px;
			box-shadow: 0 1px 16px rgba(11, 13, 13, 0.29);
			display: flex;
			justify-content: center;
			margin: 0px 6px;
			align-items: center;
			font-size: 17px;
			font-family: "Roboto-b";
			color: #fff;
			&:hover{
				background-color: #689f38 - 20;
			}
			i{
				margin-left: 8px;
				@include sprite($check4);
			}
		}
	}
}