/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 118px;
$arrow-y: 57px;
$arrow-offset-x: -118px;
$arrow-offset-y: -57px;
$arrow-width: 8px;
$arrow-height: 5px;
$arrow-total-width: 129px;
$arrow-total-height: 125px;
$arrow-image: '/img/sprite.png';
$arrow: (118px, 57px, -118px, -57px, 8px, 5px, 129px, 125px, '/img/sprite.png', 'arrow', );
$arrow2-name: 'arrow2';
$arrow2-x: 118px;
$arrow2-y: 62px;
$arrow2-offset-x: -118px;
$arrow2-offset-y: -62px;
$arrow2-width: 4px;
$arrow2-height: 6px;
$arrow2-total-width: 129px;
$arrow2-total-height: 125px;
$arrow2-image: '/img/sprite.png';
$arrow2: (118px, 62px, -118px, -62px, 4px, 6px, 129px, 125px, '/img/sprite.png', 'arrow2', );
$arrow3-name: 'arrow3';
$arrow3-x: 118px;
$arrow3-y: 32px;
$arrow3-offset-x: -118px;
$arrow3-offset-y: -32px;
$arrow3-width: 8px;
$arrow3-height: 12px;
$arrow3-total-width: 129px;
$arrow3-total-height: 125px;
$arrow3-image: '/img/sprite.png';
$arrow3: (118px, 32px, -118px, -32px, 8px, 12px, 129px, 125px, '/img/sprite.png', 'arrow3', );
$arrow4-name: 'arrow4';
$arrow4-x: 118px;
$arrow4-y: 0px;
$arrow4-offset-x: -118px;
$arrow4-offset-y: 0px;
$arrow4-width: 11px;
$arrow4-height: 17px;
$arrow4-total-width: 129px;
$arrow4-total-height: 125px;
$arrow4-image: '/img/sprite.png';
$arrow4: (118px, 0px, -118px, 0px, 11px, 17px, 129px, 125px, '/img/sprite.png', 'arrow4', );
$arrow5-name: 'arrow5';
$arrow5-x: 35px;
$arrow5-y: 73px;
$arrow5-offset-x: -35px;
$arrow5-offset-y: -73px;
$arrow5-width: 18px;
$arrow5-height: 16px;
$arrow5-total-width: 129px;
$arrow5-total-height: 125px;
$arrow5-image: '/img/sprite.png';
$arrow5: (35px, 73px, -35px, -73px, 18px, 16px, 129px, 125px, '/img/sprite.png', 'arrow5', );
$arrow6-name: 'arrow6';
$arrow6-x: 118px;
$arrow6-y: 51px;
$arrow6-offset-x: -118px;
$arrow6-offset-y: -51px;
$arrow6-width: 10px;
$arrow6-height: 6px;
$arrow6-total-width: 129px;
$arrow6-total-height: 125px;
$arrow6-image: '/img/sprite.png';
$arrow6: (118px, 51px, -118px, -51px, 10px, 6px, 129px, 125px, '/img/sprite.png', 'arrow6', );
$arrow7-name: 'arrow7';
$arrow7-x: 118px;
$arrow7-y: 44px;
$arrow7-offset-x: -118px;
$arrow7-offset-y: -44px;
$arrow7-width: 11px;
$arrow7-height: 7px;
$arrow7-total-width: 129px;
$arrow7-total-height: 125px;
$arrow7-image: '/img/sprite.png';
$arrow7: (118px, 44px, -118px, -44px, 11px, 7px, 129px, 125px, '/img/sprite.png', 'arrow7', );
$car-name: 'car';
$car-x: 31px;
$car-y: 42px;
$car-offset-x: -31px;
$car-offset-y: -42px;
$car-width: 36px;
$car-height: 26px;
$car-total-width: 129px;
$car-total-height: 125px;
$car-image: '/img/sprite.png';
$car: (31px, 42px, -31px, -42px, 36px, 26px, 129px, 125px, '/img/sprite.png', 'car', );
$check-name: 'check';
$check-x: 87px;
$check-y: 73px;
$check-offset-x: -87px;
$check-offset-y: -73px;
$check-width: 17px;
$check-height: 13px;
$check-total-width: 129px;
$check-total-height: 125px;
$check-image: '/img/sprite.png';
$check: (87px, 73px, -87px, -73px, 17px, 13px, 129px, 125px, '/img/sprite.png', 'check', );
$check2-name: 'check2';
$check2-x: 70px;
$check2-y: 73px;
$check2-offset-x: -70px;
$check2-offset-y: -73px;
$check2-width: 17px;
$check2-height: 14px;
$check2-total-width: 129px;
$check2-total-height: 125px;
$check2-image: '/img/sprite.png';
$check2: (70px, 73px, -70px, -73px, 17px, 14px, 129px, 125px, '/img/sprite.png', 'check2', );
$check3-name: 'check3';
$check3-x: 53px;
$check3-y: 73px;
$check3-offset-x: -53px;
$check3-offset-y: -73px;
$check3-width: 17px;
$check3-height: 14px;
$check3-total-width: 129px;
$check3-total-height: 125px;
$check3-image: '/img/sprite.png';
$check3: (53px, 73px, -53px, -73px, 17px, 14px, 129px, 125px, '/img/sprite.png', 'check3', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 42px;
$clock-offset-x: 0px;
$clock-offset-y: -42px;
$clock-width: 31px;
$clock-height: 31px;
$clock-total-width: 129px;
$clock-total-height: 125px;
$clock-image: '/img/sprite.png';
$clock: (0px, 42px, 0px, -42px, 31px, 31px, 129px, 125px, '/img/sprite.png', 'clock', );
$credit-name: 'credit';
$credit-x: 32px;
$credit-y: 0px;
$credit-offset-x: -32px;
$credit-offset-y: 0px;
$credit-width: 30px;
$credit-height: 40px;
$credit-total-width: 129px;
$credit-total-height: 125px;
$credit-image: '/img/sprite.png';
$credit: (32px, 0px, -32px, 0px, 30px, 40px, 129px, 125px, '/img/sprite.png', 'credit', );
$eye-name: 'eye';
$eye-x: 0px;
$eye-y: 73px;
$eye-offset-x: 0px;
$eye-offset-y: -73px;
$eye-width: 35px;
$eye-height: 22px;
$eye-total-width: 129px;
$eye-total-height: 125px;
$eye-image: '/img/sprite.png';
$eye: (0px, 73px, 0px, -73px, 35px, 22px, 129px, 125px, '/img/sprite.png', 'eye', );
$finger-name: 'finger';
$finger-x: 93px;
$finger-y: 0px;
$finger-offset-x: -93px;
$finger-offset-y: 0px;
$finger-width: 25px;
$finger-height: 34px;
$finger-total-width: 129px;
$finger-total-height: 125px;
$finger-image: '/img/sprite.png';
$finger: (93px, 0px, -93px, 0px, 25px, 34px, 129px, 125px, '/img/sprite.png', 'finger', );
$login-icon-name: 'login-icon';
$login-icon-x: 0px;
$login-icon-y: 95px;
$login-icon-offset-x: 0px;
$login-icon-offset-y: -95px;
$login-icon-width: 15px;
$login-icon-height: 15px;
$login-icon-total-width: 129px;
$login-icon-total-height: 125px;
$login-icon-image: '/img/sprite.png';
$login-icon: (0px, 95px, 0px, -95px, 15px, 15px, 129px, 125px, '/img/sprite.png', 'login-icon', );
$logo-name: 'logo';
$logo-x: 67px;
$logo-y: 42px;
$logo-offset-x: -67px;
$logo-offset-y: -42px;
$logo-width: 25px;
$logo-height: 25px;
$logo-total-width: 129px;
$logo-total-height: 125px;
$logo-image: '/img/sprite.png';
$logo: (67px, 42px, -67px, -42px, 25px, 25px, 129px, 125px, '/img/sprite.png', 'logo', );
$mans-name: 'mans';
$mans-x: 0px;
$mans-y: 0px;
$mans-offset-x: 0px;
$mans-offset-y: 0px;
$mans-width: 32px;
$mans-height: 42px;
$mans-total-width: 129px;
$mans-total-height: 125px;
$mans-image: '/img/sprite.png';
$mans: (0px, 0px, 0px, 0px, 32px, 42px, 129px, 125px, '/img/sprite.png', 'mans', );
$minus-h-name: 'minus-h';
$minus-h-x: 93px;
$minus-h-y: 68px;
$minus-h-offset-x: -93px;
$minus-h-offset-y: -68px;
$minus-h-width: 14px;
$minus-h-height: 4px;
$minus-h-total-width: 129px;
$minus-h-total-height: 125px;
$minus-h-image: '/img/sprite.png';
$minus-h: (93px, 68px, -93px, -68px, 14px, 4px, 129px, 125px, '/img/sprite.png', 'minus-h', );
$minus-name: 'minus';
$minus-x: 93px;
$minus-y: 64px;
$minus-offset-x: -93px;
$minus-offset-y: -64px;
$minus-width: 14px;
$minus-height: 4px;
$minus-total-width: 129px;
$minus-total-height: 125px;
$minus-image: '/img/sprite.png';
$minus: (93px, 64px, -93px, -64px, 14px, 4px, 129px, 125px, '/img/sprite.png', 'minus', );
$phone-name: 'phone';
$phone-x: 118px;
$phone-y: 17px;
$phone-offset-x: -118px;
$phone-offset-y: -17px;
$phone-width: 9px;
$phone-height: 15px;
$phone-total-width: 129px;
$phone-total-height: 125px;
$phone-image: '/img/sprite.png';
$phone: (118px, 17px, -118px, -17px, 9px, 15px, 129px, 125px, '/img/sprite.png', 'phone', );
$plus-h-name: 'plus-h';
$plus-h-x: 30px;
$plus-h-y: 95px;
$plus-h-offset-x: -30px;
$plus-h-offset-y: -95px;
$plus-h-width: 14px;
$plus-h-height: 14px;
$plus-h-total-width: 129px;
$plus-h-total-height: 125px;
$plus-h-image: '/img/sprite.png';
$plus-h: (30px, 95px, -30px, -95px, 14px, 14px, 129px, 125px, '/img/sprite.png', 'plus-h', );
$plus-name: 'plus';
$plus-x: 44px;
$plus-y: 95px;
$plus-offset-x: -44px;
$plus-offset-y: -95px;
$plus-width: 14px;
$plus-height: 14px;
$plus-total-width: 129px;
$plus-total-height: 125px;
$plus-image: '/img/sprite.png';
$plus: (44px, 95px, -44px, -95px, 14px, 14px, 129px, 125px, '/img/sprite.png', 'plus', );
$registration-icon-name: 'registration-icon';
$registration-icon-x: 15px;
$registration-icon-y: 95px;
$registration-icon-offset-x: -15px;
$registration-icon-offset-y: -95px;
$registration-icon-width: 15px;
$registration-icon-height: 15px;
$registration-icon-total-width: 129px;
$registration-icon-total-height: 125px;
$registration-icon-image: '/img/sprite.png';
$registration-icon: (15px, 95px, -15px, -95px, 15px, 15px, 129px, 125px, '/img/sprite.png', 'registration-icon', );
$shield-name: 'shield ';
$shield-x: 93px;
$shield-y: 34px;
$shield-offset-x: -93px;
$shield-offset-y: -34px;
$shield-width: 24px;
$shield-height: 30px;
$shield-total-width: 129px;
$shield-total-height: 125px;
$shield-image: '/img/sprite.png';
$shield-: (93px, 34px, -93px, -34px, 24px, 30px, 129px, 125px, '/img/sprite.png', 'shield ', );
$shield-name: 'shield';
$shield-x: 0px;
$shield-y: 110px;
$shield-offset-x: 0px;
$shield-offset-y: -110px;
$shield-width: 12px;
$shield-height: 15px;
$shield-total-width: 129px;
$shield-total-height: 125px;
$shield-image: '/img/sprite.png';
$shield: (0px, 110px, 0px, -110px, 12px, 15px, 129px, 125px, '/img/sprite.png', 'shield', );
$smile-name: 'smile';
$smile-x: 62px;
$smile-y: 0px;
$smile-offset-x: -62px;
$smile-offset-y: 0px;
$smile-width: 31px;
$smile-height: 31px;
$smile-total-width: 129px;
$smile-total-height: 125px;
$smile-image: '/img/sprite.png';
$smile: (62px, 0px, -62px, 0px, 31px, 31px, 129px, 125px, '/img/sprite.png', 'smile', );
$spritesheet-width: 129px;
$spritesheet-height: 125px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($arrow, $arrow2, $arrow3, $arrow4, $arrow5, $arrow6, $arrow7, $car, $check, $check2, $check3, $clock, $credit, $eye, $finger, $login-icon, $logo, $mans, $minus-h, $minus, $phone, $plus-h, $plus, $registration-icon, $shield-, $shield, $smile, );
$spritesheet: (129px, 125px, '/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
