/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$add-name: 'add';
$add-x: 35px;
$add-y: 73px;
$add-offset-x: -35px;
$add-offset-y: -73px;
$add-width: 22px;
$add-height: 22px;
$add-total-width: 145px;
$add-total-height: 127px;
$add-image: '/img/sprite.png';
$add: (35px, 73px, -35px, -73px, 22px, 22px, 145px, 127px, '/img/sprite.png', 'add', );
$arrow-name: 'arrow';
$arrow-x: 133px;
$arrow-y: 79px;
$arrow-offset-x: -133px;
$arrow-offset-y: -79px;
$arrow-width: 8px;
$arrow-height: 5px;
$arrow-total-width: 145px;
$arrow-total-height: 127px;
$arrow-image: '/img/sprite.png';
$arrow: (133px, 79px, -133px, -79px, 8px, 5px, 145px, 127px, '/img/sprite.png', 'arrow', );
$arrow2-name: 'arrow2';
$arrow2-x: 141px;
$arrow2-y: 54px;
$arrow2-offset-x: -141px;
$arrow2-offset-y: -54px;
$arrow2-width: 4px;
$arrow2-height: 6px;
$arrow2-total-width: 145px;
$arrow2-total-height: 127px;
$arrow2-image: '/img/sprite.png';
$arrow2: (141px, 54px, -141px, -54px, 4px, 6px, 145px, 127px, '/img/sprite.png', 'arrow2', );
$arrow3-name: 'arrow3';
$arrow3-x: 133px;
$arrow3-y: 54px;
$arrow3-offset-x: -133px;
$arrow3-offset-y: -54px;
$arrow3-width: 8px;
$arrow3-height: 12px;
$arrow3-total-width: 145px;
$arrow3-total-height: 127px;
$arrow3-image: '/img/sprite.png';
$arrow3: (133px, 54px, -133px, -54px, 8px, 12px, 145px, 127px, '/img/sprite.png', 'arrow3', );
$arrow4-name: 'arrow4';
$arrow4-x: 118px;
$arrow4-y: 88px;
$arrow4-offset-x: -118px;
$arrow4-offset-y: -88px;
$arrow4-width: 11px;
$arrow4-height: 17px;
$arrow4-total-width: 145px;
$arrow4-total-height: 127px;
$arrow4-image: '/img/sprite.png';
$arrow4: (118px, 88px, -118px, -88px, 11px, 17px, 145px, 127px, '/img/sprite.png', 'arrow4', );
$arrow5-name: 'arrow5';
$arrow5-x: 81px;
$arrow5-y: 73px;
$arrow5-offset-x: -81px;
$arrow5-offset-y: -73px;
$arrow5-width: 18px;
$arrow5-height: 16px;
$arrow5-total-width: 145px;
$arrow5-total-height: 127px;
$arrow5-image: '/img/sprite.png';
$arrow5: (81px, 73px, -81px, -73px, 18px, 16px, 145px, 127px, '/img/sprite.png', 'arrow5', );
$arrow6-name: 'arrow6';
$arrow6-x: 133px;
$arrow6-y: 73px;
$arrow6-offset-x: -133px;
$arrow6-offset-y: -73px;
$arrow6-width: 10px;
$arrow6-height: 6px;
$arrow6-total-width: 145px;
$arrow6-total-height: 127px;
$arrow6-image: '/img/sprite.png';
$arrow6: (133px, 73px, -133px, -73px, 10px, 6px, 145px, 127px, '/img/sprite.png', 'arrow6', );
$arrow7-name: 'arrow7';
$arrow7-x: 133px;
$arrow7-y: 66px;
$arrow7-offset-x: -133px;
$arrow7-offset-y: -66px;
$arrow7-width: 11px;
$arrow7-height: 7px;
$arrow7-total-width: 145px;
$arrow7-total-height: 127px;
$arrow7-image: '/img/sprite.png';
$arrow7: (133px, 66px, -133px, -66px, 11px, 7px, 145px, 127px, '/img/sprite.png', 'arrow7', );
$car-name: 'car';
$car-x: 31px;
$car-y: 42px;
$car-offset-x: -31px;
$car-offset-y: -42px;
$car-width: 36px;
$car-height: 26px;
$car-total-width: 145px;
$car-total-height: 127px;
$car-image: '/img/sprite.png';
$car: (31px, 42px, -31px, -42px, 36px, 26px, 145px, 127px, '/img/sprite.png', 'car', );
$check-name: 'check';
$check-x: 0px;
$check-y: 114px;
$check-offset-x: 0px;
$check-offset-y: -114px;
$check-width: 17px;
$check-height: 13px;
$check-total-width: 145px;
$check-total-height: 127px;
$check-image: '/img/sprite.png';
$check: (0px, 114px, 0px, -114px, 17px, 13px, 145px, 127px, '/img/sprite.png', 'check', );
$check2-name: 'check2';
$check2-x: 38px;
$check2-y: 95px;
$check2-offset-x: -38px;
$check2-offset-y: -95px;
$check2-width: 17px;
$check2-height: 14px;
$check2-total-width: 145px;
$check2-total-height: 127px;
$check2-image: '/img/sprite.png';
$check2: (38px, 95px, -38px, -95px, 17px, 14px, 145px, 127px, '/img/sprite.png', 'check2', );
$check3-name: 'check3';
$check3-x: 99px;
$check3-y: 73px;
$check3-offset-x: -99px;
$check3-offset-y: -73px;
$check3-width: 17px;
$check3-height: 14px;
$check3-total-width: 145px;
$check3-total-height: 127px;
$check3-image: '/img/sprite.png';
$check3: (99px, 73px, -99px, -73px, 17px, 14px, 145px, 127px, '/img/sprite.png', 'check3', );
$check4-name: 'check4';
$check4-x: 89px;
$check4-y: 95px;
$check4-offset-x: -89px;
$check4-offset-y: -95px;
$check4-width: 17px;
$check4-height: 13px;
$check4-total-width: 145px;
$check4-total-height: 127px;
$check4-image: '/img/sprite.png';
$check4: (89px, 95px, -89px, -95px, 17px, 13px, 145px, 127px, '/img/sprite.png', 'check4', );
$check5-name: 'check5';
$check5-x: 72px;
$check5-y: 95px;
$check5-offset-x: -72px;
$check5-offset-y: -95px;
$check5-width: 17px;
$check5-height: 13px;
$check5-total-width: 145px;
$check5-total-height: 127px;
$check5-image: '/img/sprite.png';
$check5: (72px, 95px, -72px, -95px, 17px, 13px, 145px, 127px, '/img/sprite.png', 'check5', );
$client-name: 'client';
$client-x: 133px;
$client-y: 30px;
$client-offset-x: -133px;
$client-offset-y: -30px;
$client-width: 11px;
$client-height: 12px;
$client-total-width: 145px;
$client-total-height: 127px;
$client-image: '/img/sprite.png';
$client: (133px, 30px, -133px, -30px, 11px, 12px, 145px, 127px, '/img/sprite.png', 'client', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 42px;
$clock-offset-x: 0px;
$clock-offset-y: -42px;
$clock-width: 31px;
$clock-height: 31px;
$clock-total-width: 145px;
$clock-total-height: 127px;
$clock-image: '/img/sprite.png';
$clock: (0px, 42px, 0px, -42px, 31px, 31px, 145px, 127px, '/img/sprite.png', 'clock', );
$credit-name: 'credit';
$credit-x: 32px;
$credit-y: 0px;
$credit-offset-x: -32px;
$credit-offset-y: 0px;
$credit-width: 30px;
$credit-height: 40px;
$credit-total-width: 145px;
$credit-total-height: 127px;
$credit-image: '/img/sprite.png';
$credit: (32px, 0px, -32px, 0px, 30px, 40px, 145px, 127px, '/img/sprite.png', 'credit', );
$delete-h-name: 'delete-h';
$delete-h-x: 30px;
$delete-h-y: 114px;
$delete-h-offset-x: -30px;
$delete-h-offset-y: -114px;
$delete-h-width: 13px;
$delete-h-height: 13px;
$delete-h-total-width: 145px;
$delete-h-total-height: 127px;
$delete-h-image: '/img/sprite.png';
$delete-h: (30px, 114px, -30px, -114px, 13px, 13px, 145px, 127px, '/img/sprite.png', 'delete-h', );
$delete-name: 'delete';
$delete-x: 17px;
$delete-y: 114px;
$delete-offset-x: -17px;
$delete-offset-y: -114px;
$delete-width: 13px;
$delete-height: 13px;
$delete-total-width: 145px;
$delete-total-height: 127px;
$delete-image: '/img/sprite.png';
$delete: (17px, 114px, -17px, -114px, 13px, 13px, 145px, 127px, '/img/sprite.png', 'delete', );
$delete2-h-name: 'delete2-h';
$delete2-h-x: 118px;
$delete2-h-y: 15px;
$delete2-h-offset-x: -118px;
$delete2-h-offset-y: -15px;
$delete2-h-width: 15px;
$delete2-h-height: 15px;
$delete2-h-total-width: 145px;
$delete2-h-total-height: 127px;
$delete2-h-image: '/img/sprite.png';
$delete2-h: (118px, 15px, -118px, -15px, 15px, 15px, 145px, 127px, '/img/sprite.png', 'delete2-h', );
$delete2-name: 'delete2';
$delete2-x: 118px;
$delete2-y: 0px;
$delete2-offset-x: -118px;
$delete2-offset-y: 0px;
$delete2-width: 15px;
$delete2-height: 15px;
$delete2-total-width: 145px;
$delete2-total-height: 127px;
$delete2-image: '/img/sprite.png';
$delete2: (118px, 0px, -118px, 0px, 15px, 15px, 145px, 127px, '/img/sprite.png', 'delete2', );
$eye-name: 'eye';
$eye-x: 0px;
$eye-y: 73px;
$eye-offset-x: 0px;
$eye-offset-y: -73px;
$eye-width: 35px;
$eye-height: 22px;
$eye-total-width: 145px;
$eye-total-height: 127px;
$eye-image: '/img/sprite.png';
$eye: (0px, 73px, 0px, -73px, 35px, 22px, 145px, 127px, '/img/sprite.png', 'eye', );
$finger-name: 'finger';
$finger-x: 93px;
$finger-y: 0px;
$finger-offset-x: -93px;
$finger-offset-y: 0px;
$finger-width: 25px;
$finger-height: 34px;
$finger-total-width: 145px;
$finger-total-height: 127px;
$finger-image: '/img/sprite.png';
$finger: (93px, 0px, -93px, 0px, 25px, 34px, 145px, 127px, '/img/sprite.png', 'finger', );
$front-name: 'front';
$front-x: 133px;
$front-y: 42px;
$front-offset-x: -133px;
$front-offset-y: -42px;
$front-width: 10px;
$front-height: 12px;
$front-total-width: 145px;
$front-total-height: 127px;
$front-image: '/img/sprite.png';
$front: (133px, 42px, -133px, -42px, 10px, 12px, 145px, 127px, '/img/sprite.png', 'front', );
$login-icon-name: 'login-icon';
$login-icon-x: 118px;
$login-icon-y: 45px;
$login-icon-offset-x: -118px;
$login-icon-offset-y: -45px;
$login-icon-width: 15px;
$login-icon-height: 15px;
$login-icon-total-width: 145px;
$login-icon-total-height: 127px;
$login-icon-image: '/img/sprite.png';
$login-icon: (118px, 45px, -118px, -45px, 15px, 15px, 145px, 127px, '/img/sprite.png', 'login-icon', );
$logo-name: 'logo';
$logo-x: 67px;
$logo-y: 42px;
$logo-offset-x: -67px;
$logo-offset-y: -42px;
$logo-width: 25px;
$logo-height: 25px;
$logo-total-width: 145px;
$logo-total-height: 127px;
$logo-image: '/img/sprite.png';
$logo: (67px, 42px, -67px, -42px, 25px, 25px, 145px, 127px, '/img/sprite.png', 'logo', );
$man-name: 'man';
$man-x: 19px;
$man-y: 95px;
$man-offset-x: -19px;
$man-offset-y: -95px;
$man-width: 19px;
$man-height: 19px;
$man-total-width: 145px;
$man-total-height: 127px;
$man-image: '/img/sprite.png';
$man: (19px, 95px, -19px, -95px, 19px, 19px, 145px, 127px, '/img/sprite.png', 'man', );
$man2-name: 'man2';
$man2-x: 0px;
$man2-y: 95px;
$man2-offset-x: 0px;
$man2-offset-y: -95px;
$man2-width: 19px;
$man2-height: 19px;
$man2-total-width: 145px;
$man2-total-height: 127px;
$man2-image: '/img/sprite.png';
$man2: (0px, 95px, 0px, -95px, 19px, 19px, 145px, 127px, '/img/sprite.png', 'man2', );
$mans-name: 'mans';
$mans-x: 0px;
$mans-y: 0px;
$mans-offset-x: 0px;
$mans-offset-y: 0px;
$mans-width: 32px;
$mans-height: 42px;
$mans-total-width: 145px;
$mans-total-height: 127px;
$mans-image: '/img/sprite.png';
$mans: (0px, 0px, 0px, 0px, 32px, 42px, 145px, 127px, '/img/sprite.png', 'mans', );
$minus-h-name: 'minus-h';
$minus-h-x: 118px;
$minus-h-y: 109px;
$minus-h-offset-x: -118px;
$minus-h-offset-y: -109px;
$minus-h-width: 14px;
$minus-h-height: 4px;
$minus-h-total-width: 145px;
$minus-h-total-height: 127px;
$minus-h-image: '/img/sprite.png';
$minus-h: (118px, 109px, -118px, -109px, 14px, 4px, 145px, 127px, '/img/sprite.png', 'minus-h', );
$minus-name: 'minus';
$minus-x: 118px;
$minus-y: 105px;
$minus-offset-x: -118px;
$minus-offset-y: -105px;
$minus-width: 14px;
$minus-height: 4px;
$minus-total-width: 145px;
$minus-total-height: 127px;
$minus-image: '/img/sprite.png';
$minus: (118px, 105px, -118px, -105px, 14px, 4px, 145px, 127px, '/img/sprite.png', 'minus', );
$phone-name: 'phone';
$phone-x: 133px;
$phone-y: 15px;
$phone-offset-x: -133px;
$phone-offset-y: -15px;
$phone-width: 9px;
$phone-height: 15px;
$phone-total-width: 145px;
$phone-total-height: 127px;
$phone-image: '/img/sprite.png';
$phone: (133px, 15px, -133px, -15px, 9px, 15px, 145px, 127px, '/img/sprite.png', 'phone', );
$plus-h-name: 'plus-h';
$plus-h-x: 118px;
$plus-h-y: 60px;
$plus-h-offset-x: -118px;
$plus-h-offset-y: -60px;
$plus-h-width: 14px;
$plus-h-height: 14px;
$plus-h-total-width: 145px;
$plus-h-total-height: 127px;
$plus-h-image: '/img/sprite.png';
$plus-h: (118px, 60px, -118px, -60px, 14px, 14px, 145px, 127px, '/img/sprite.png', 'plus-h', );
$plus-name: 'plus';
$plus-x: 118px;
$plus-y: 74px;
$plus-offset-x: -118px;
$plus-offset-y: -74px;
$plus-width: 14px;
$plus-height: 14px;
$plus-total-width: 145px;
$plus-total-height: 127px;
$plus-image: '/img/sprite.png';
$plus: (118px, 74px, -118px, -74px, 14px, 14px, 145px, 127px, '/img/sprite.png', 'plus', );
$registration-icon-name: 'registration-icon';
$registration-icon-x: 118px;
$registration-icon-y: 30px;
$registration-icon-offset-x: -118px;
$registration-icon-offset-y: -30px;
$registration-icon-width: 15px;
$registration-icon-height: 15px;
$registration-icon-total-width: 145px;
$registration-icon-total-height: 127px;
$registration-icon-image: '/img/sprite.png';
$registration-icon: (118px, 30px, -118px, -30px, 15px, 15px, 145px, 127px, '/img/sprite.png', 'registration-icon', );
$shield-name: 'shield ';
$shield-x: 93px;
$shield-y: 34px;
$shield-offset-x: -93px;
$shield-offset-y: -34px;
$shield-width: 24px;
$shield-height: 30px;
$shield-total-width: 145px;
$shield-total-height: 127px;
$shield-image: '/img/sprite.png';
$shield-: (93px, 34px, -93px, -34px, 24px, 30px, 145px, 127px, '/img/sprite.png', 'shield ', );
$shield-name: 'shield';
$shield-x: 133px;
$shield-y: 0px;
$shield-offset-x: -133px;
$shield-offset-y: 0px;
$shield-width: 12px;
$shield-height: 15px;
$shield-total-width: 145px;
$shield-total-height: 127px;
$shield-image: '/img/sprite.png';
$shield: (133px, 0px, -133px, 0px, 12px, 15px, 145px, 127px, '/img/sprite.png', 'shield', );
$smile-name: 'smile';
$smile-x: 62px;
$smile-y: 0px;
$smile-offset-x: -62px;
$smile-offset-y: 0px;
$smile-width: 31px;
$smile-height: 31px;
$smile-total-width: 145px;
$smile-total-height: 127px;
$smile-image: '/img/sprite.png';
$smile: (62px, 0px, -62px, 0px, 31px, 31px, 145px, 127px, '/img/sprite.png', 'smile', );
$upload-name: 'upload';
$upload-x: 55px;
$upload-y: 95px;
$upload-offset-x: -55px;
$upload-offset-y: -95px;
$upload-width: 17px;
$upload-height: 13px;
$upload-total-width: 145px;
$upload-total-height: 127px;
$upload-image: '/img/sprite.png';
$upload: (55px, 95px, -55px, -95px, 17px, 13px, 145px, 127px, '/img/sprite.png', 'upload', );
$upload2-name: 'upload2';
$upload2-x: 57px;
$upload2-y: 73px;
$upload2-offset-x: -57px;
$upload2-offset-y: -73px;
$upload2-width: 24px;
$upload2-height: 16px;
$upload2-total-width: 145px;
$upload2-total-height: 127px;
$upload2-image: '/img/sprite.png';
$upload2: (57px, 73px, -57px, -73px, 24px, 16px, 145px, 127px, '/img/sprite.png', 'upload2', );
$spritesheet-width: 145px;
$spritesheet-height: 127px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($add, $arrow, $arrow2, $arrow3, $arrow4, $arrow5, $arrow6, $arrow7, $car, $check, $check2, $check3, $check4, $check5, $client, $clock, $credit, $delete-h, $delete, $delete2-h, $delete2, $eye, $finger, $front, $login-icon, $logo, $man, $man2, $mans, $minus-h, $minus, $phone, $plus-h, $plus, $registration-icon, $shield-, $shield, $smile, $upload, $upload2, );
$spritesheet: (145px, 127px, '/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
